<section id="one">
  <h2>Услуги</h2>
  <hr>
  <div>

    <div>
      <h6 class="">Ремонт ноутбуков</h6>
      <p class="">Осуществляем срочный и постгарантийный ремонт ноутбуков любого уровня сложности. У нас работают высококлассные инженеры с огромным опытом работы. Если ваш ноутбук поламался, скорее несите его к нам!</p>
      <a href="#one">Подробнее</a>
    </div>
    <div>
      <h6 class="">Ремонт компьютеров</h6>
      <p class="">Ремонт деталей или комплекс таких замен, различные технологические доработки, ремонт материнской платы, блока питания, модернизация компьютера, а так же тестирование и настройка компьютерного оборудования.</p>
      <a href="#one">Подробнее</a>
    </div>
    <div>
      <h6 class="">Ремонт принтеров</h6>
      <p class="">Ремонт струйных и лазерных принтеров, факсов, копиров, МФУ. Заправка и реставрация картриджей. Поставка картриджей, расходных материалов и офисной техники.</p>
      <a href="#one">Подробнее</a>
    </div>
    <div>
      <h6 class="">Ремонт мобильных телефонов</h6>
      <p class="">Быстрый и качественный ремонт мобильных телефонов, смартфонов, КПК и коммуникаторов в Сумах. Гарантия качества, низкие цены. Перепрошивка, установка игр и программ.</p>
      <a href="#one">Подробнее</a>
    </div>
    <div>
      <h6 class="">Ремонт планшетов</h6>
      <p class="">Сервисный центр РЕТОН предоставляет полный спектр услуг по ремонту планшетов и электронных книг в Сумах. Гарантия качества, низкие цены. Перепрошивка, установка игр и программ.</p>
      <a href="#one">Подробнее</a>
    </div>
    <div>
      <h6 class="">Ремонт мониторов</h6>
      <p class="">Ремонт ЖК мониторов любых моделей. Мы предлагаем услуги по ремонту такие как диагностика, чистка плат, замена комплектующих, замена TFT матрицы, тестирование, ремонт блока питания.</p>
      <a href="#one">Подробнее</a>
    </div>
    <div>
      <h6 class="">Продажа</h6>
      <p class="">СЦ "РЕТОН" занимается продажей компьютеров, ноутбуков, серверов, проекторов, жк и плазменных панелей. Благодаря прямым поставкам цены вас не разочаруют!</p>
      <a href="#one">Подробнее</a>
    </div>
    <div>
      <h6 class="">Ремонт GPS навигаторов</h6>
      <p class="">Сломался навигатор или видеорегистратор? Звоните и приносите! Ремонт навигаторов и видеорегистраторов в городе Сумы. Замена стекла, разъема, ремонт кнопок, установка ПО.</p>
      <a href="#one">Подробнее</a>
    </div>
    <div>
      <h6 class="">Установка ОС и ПО</h6>
      <p class="">Установка Windows и *nix (Linux, Unix) систем, настройка операционной системы и системных служб. Установка любых необходимых вам программ, квалифицированная настройка программного обеспечения. Удаление вирусов и надежная защита от них в дальнейшем.</p>
      <a href="#one">Подробнее</a>
    </div>

  </div>
</section>